<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827575198852-epan3s2em8tp6ieteuqgbici0mkc86i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827575198852-epan3s2em8tp6ieteuqgbici0mkc86i5</string>
	<key>API_KEY</key>
	<string>AIzaSyBSo8g-dodxlA6HqQypf0a4q96jyDG2wEc</string>
	<key>GCM_SENDER_ID</key>
	<string>827575198852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunriseqq99.myChat</string>
	<key>PROJECT_ID</key>
	<string>messenger-85959</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-85959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827575198852:ios:77698b14edfdf19f</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-85959.firebaseio.com</string>
</dict>
</plist>